:root {
    --grey-color: hsl(0, 0%, 94%);
    --white-color: #FFFFFF;
    --h-color: #2AB2AF;
    --hh-color: #C0DF34;
    --p-color: #98A6CC;
    --sub-color: #09A9AE;
    --why-color: #2AB2AF;
    --a-color: #BFDF32;
    --hover-color: #c6e377;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    background-color: var(--grey-color);
}

/****************container section*********************/

.container {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/***********************community section*****************************/

.container .community{
    background-color: var(--white-color);
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container .community .top-heading{
    color: var(--h-color);
    padding-bottom: 20px;
}

.container .community .heading2{
    color: var(--hh-color);
    padding-bottom: 15px;
}

.container .community .top-p1, .top-p2 {
    color: var(--p-color);
    
}

.container .community .top-p1{
    padding-bottom: 10px;
}

.container .about-us{
    display: flex;
}

/********************subscription section**********************/

.container .about-us .subscription{
    flex-basis: 50%;
    background-color: var(--sub-color);
    color: var(--grey-color);
    border-bottom-left-radius: 10px;
}

.container .about-us .subscription h4{
    color: var(--white-color);
    padding: 30px 30px 20px 30px;
}

.container .about-us .subscription p{
    padding: 0px 30px 15px 30px;
}

.container .about-us .subscription .dollar{
    color: var(--white-color);
    font-weight: bold;
    font-size: xx-large;
}

.container .about-us .subscription span{
    color: var(--p-color);
}

.container .about-us .subscription a:link, a:visited {
    background-color: var(--a-color);
    color: var(--white-color);
    margin: 10px 30px 30px 30px;
    padding: 12px 90px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    

}

a:hover, a:active {
    background-color: var(--hover-color);
}



/************** why us code section***********************/

.container .about-us .why-us{
    flex-basis: 50%;
    background-color: var(--why-color);
    color: var(--grey-color);
    border-bottom-right-radius: 10px;
}

.container .about-us .why-us h4{
    padding: 30px;
    color: var(--white-color);
}

.container .about-us .why-us p{
    padding: 0px 30px 30px 30px;
}

/*****************Responsiveness******************/


@media screen and (max-width: 480px){
    body{
        height: 140vh;
    }

    .container {
        width: 70%;
    }


    .container .community {
        flex-basis: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .container .about-us{
        flex-direction: column;
    }
    
    .container .about-us .subscription {
        border-bottom-left-radius: 0px;
    }

    .container .about-us .subscription a:link,a:visited{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 50px;
    }

    .container .about-us .why-us {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}